rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /games/{game} {
      allow get, create, update
    }

    match /games/{game}/actions/{action=**} {
      allow get, list, create
    }
  }
}